

body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: 80px 80px;
    background-image: -webkit-linear-gradient(0deg, rgba(255,0,0,0.4) 50%, transparent 50%),
    -webkit-linear-gradient( rgba(255,0,0,0.5) 50%, transparent 50%) ;
}