body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: black;
    padding: 10px;
    margin: 0px;
}

.nav-list {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0.75px;
    color: white;
    padding-bottom: 10px;
  }
  
  .nav-item:first-child {
    margin-right: auto;
    font-size: 2rem;
  }

  .main-div {
    background-image: url(dc.jpg);
    margin: 0px;
    padding: 0px;
    background-position:center center;
    background-size:cover;
    height: 300px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight:750;
    margin: 0px;
    color: black;
  }

  p {
    font-size: 0.7rem;
    width: 300px;
    color: black;
  }

  article {
    position: relative;
    left: 50px; top: 150px;
  }

  footer {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
  }

  footer p {
    color: white;
    font-size: 0.9rem;
  }

footer a {
    text-decoration: none;
  }

 footer a:hover {
    color: purple;
  }

  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 35px;
    }

    nav {
      background-color: yellow;
      color: black;
    }

    .nav-item {
      color: black;
    }
  }

  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 25px;
    }
    nav {
      background-color: lightgreen;
    }
  
  }

  @media only screen and (min-width: 992px) {
    nav {
      background-color: red;
      color: white;
    }
  }

  @media only screen and (min-width: 1200px) {
    
    article > h1, p {
      display: inline-block;
      vertical-align: top;
      margin-top: 0px;
    }
    article p {
      margin-left: 20px;
      vertical-align: baseline;
   }
  }