.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
    background-color:#9400d3;
    padding:20px;
    border-radius: 10px;
}

input {
  background-color: violet; 
  border: 1px solid grey; 
  padding:10px; 
  border-radius:5px; 
  margin-right: 10px; 
  color: #9400d3; 
  font-size:20px; 
  font-weight:700; 
  width: 30%;
}

button {
  padding: 10px 20px; 
  margin:30px; 
  background-color:#6600ff; 
  color:white; 
  font-size: 20px; 
  border: 0;
  border-radius:5px 20px;
}

.result {
  font-size:40px; 
  font-weight:700;
}