body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo';
    text-transform: capitalize;

}

.main {
    background-color: rgb(233, 235, 237);
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 64px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0.5px 5px 0.5px rgba(158, 156, 156, 0.5);
}

ul {
    padding: 0;
    list-style: none;
}

#right li, #left li {
    display: inline;
    color: grey;
    font-weight: 800;
}

#left li {
    padding-right: 10px;
}

#right li {
    padding-left: 10px;
}

.fa-phone, #logo {
    font-size: 1.5rem;
    color:darkblue !important
}

#sign-in-button {
    background-color: rgb(255, 255, 255, 0);
    border: 3px solid rgb(24, 149, 221);
    border-radius: 3px;
    padding: 5px 10px;
    color: rgb(24, 149, 221);
}

.header {
    padding-top: 50px;
    text-align: center;
}

.header p {
    font-size: 0.8rem;
}

.header label {
    font-size: 0.6rem;
    font-weight: 700;
}

#price {
    padding: 2px 8px;
    border: 3px solid rgb(24, 149, 221);
    border-radius: 3px;
    color: rgb(24, 149, 221);
    font-size: 0.6rem;
}

h1 {
    color: darkslategrey;
    padding-bottom: 0;
    margin-bottom: 0; 
}

.col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

#add {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 14px;
    height: fit-content;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#add div {
    grid-column: 1;
    text-align: center;
    background-color: rgb(24, 149, 221);
    border: 1px solid black;
    padding: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#add p {
    padding: 0;
    margin: 0;
    letter-spacing: .1rem;
}

.info {
    background-color: white;
    padding: 10px;
    padding-top: 30px;
    height: 300px;
    text-align: center;
    color: darkslategrey;
    margin-bottom: 0;
}

.info i {
    font-size: 3rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .2rem;

}

.subtitle {
    font-style: italic;
    font-size: 0.8rem;
    padding-bottom: 0;
}

.price {
    font-size: 0.8rem;
   
}

span {
    font-size: 3rem;
    font-weight: 400;
}

.card-button {
    background-color: green;
    color: white;
    padding: 5px 15px;
    font-size: 0.8rem;
    border: 0;
    border-radius: 3px;
}

.under {
    font-weight: 500;
}

#specify {
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 35px;
    margin-top: 0;
}

.features {
    background-color: darkslategrey;
    color: white;
    margin-top: 0;
    padding: 20px;
    font-size: 0.8rem;
    height: 500px;
}

h3 {
    padding-top: 0;
    font-size: 0.8rem;
}

.chat {
    position: absolute;
    right: 0; bottom: 0;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    font-size: 0.8rem;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(24, 149, 221);
    color: white;
    padding-top: 5px;
}

.chat i, p {
    display: inline;

}
